# Logs
logs/
*.log

# Compiled source
target/
build/
*.class

# Package Files
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/

# Maven
.mvn/
target/
!pom.xml

# TensorFlow models
config/tensorflow-model/

# OS-specific
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.tmp
*.~*~
*.hprof